body{
  margin: 0;
  padding: 0;
  background: url("../images/background.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width:auto;
}

.box{
  width: 410px;
  background: rgba(0, 0, 0, 0.4);
  padding: 80px 20px;
  /*padding: 25px;*/
  text-align: center;
  /*margin: auto;*/
  /*margin-top: 5%;*/
  
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  color: white;
  font-family: 'Montserrat', 'Century Gothic', sans-serif;
  font-weight: 50;
  border-radius: 1.5%;
}

.image-cropper{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}

.box-img{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  transform: scale(1.5);
  transform-origin: 50px 10px
}

.box h1{
  font-size: 35px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 100;
}

.box h1 strong{
  font-weight: 400;
}

.box h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;  
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
